body {
    margin: 0;
    padding: 5em;
    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-attachment: fixed;
    background-image: url("../images/background.jpg");
    background-color: grey;
    background-blend-mode: darken;
    color: whitesmoke;
}

section {
    padding: 1em;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

p {
    display: inline;
    font-size: 1.2rem;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

hr {
    border: 1px solid whitesmoke;
    width: 100%;
}

.perks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.perks>div {
    flex: 0 1 45%;
    padding: 0.75em;
    margin: 1em auto;

    background-color: #73695D;
    color: black;
    border: 1px solid #8F8381;
    border-radius: 5px;
    box-shadow: 2px 1px 1px black;

    display: flex;
}

.perk__img {
    margin: auto;
    padding: 0.75em 1.25em;
    background-color: #323232;
    border: 3px solid #68443A;
    border-radius: 5px;
    height: 75px;
}

.perk__info {
    margin: auto 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.perk__header {
    display: inline-flex;
    justify-content: space-between;
}

.perk__name,
.perk__level {
    font-size: 1.25rem;
    font-weight: bold;
}

.perk__bar {
    position: relative;
    border: 3px solid #101010;
    border-radius: 5px;
    background-color: #101010;
    width: 100%;
    height: 2em;

}

.perk__progress {
    background-color: #838182;
    width: 0;
    height: 100%;
    transition: background-color 300ms;
}

.perk__bar:hover .perk__progress {
    background-color: #a59da1;
}


.perk__tooltip {
    visibility: hidden;
    opacity: 0;

    position: absolute;
    bottom: 0;
    top: 0;
    padding: 0.25rem;

    color: #fff;
    font-size: 1.25rem;
    font-weight: bold;
    transition: opacity 300ms;
}

.perk__bar:hover .perk__tooltip {
    visibility: visible;
    opacity:1;
    
}